.nota-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nota-edit input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.nota-edit button {
    padding: 10px 20px;
    background-color: #004080; /* Color azul oscuro de UMG */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nota-edit button:hover {
    background-color: #002060; /* Color azul más oscuro */
}
